<style>
  .start{
    font-size: 20px;
    font-weight: underline;
    color : rgb(0,113,133);
    cursor : pointer;
    
  }
  .start:hover{
    opacity : 0.7;
  }
  .description{
    color : rgb(153,102,204);
    font-size: 40px;
    font-weight : bold;
    margin-top : 20px;
    margin-left : 5px;
    margin-bottom :40px;
   
    cursor : pointer;
  }
  .size{
    border-color: black;
    border-style: solid;
    border-radius: 4px;
    font-size : 20px;
    height : 40px;
    width : 160px;
    margin-bottom : 5px;
    cursor : pointer;

    
  }
  .seven{
    border-color : black;
    border-style : solid;
    font-size: 16px;
    height : 30px;
    width : 50px;
    margin-left : 10px;
    cursor : pointer;
 
  }
  .eight{
    border-color : black;
    border-style : solid;
    font-size: 16px;
    height : 30px;
    width : 50px;
    margin-left : 10px;
    cursor : pointer;
   
  }
  .nine{
    border-color : black;
    border-style : solid;
    font-size: 16px;
    height : 30px;
    width : 50px;
    margin-left : 10px;
    cursor : pointer;

    
  }
  .ten{
    border-color : black;
    border-style : solid;
    font-size: 16px;
    height : 30px;
    width : 50px;
    margin-left : 10px;
    cursor : pointer;
    
  }
  .eleven{
    border-color : black;
    border-style : solid;
    font-size: 16px;
    height : 30px;
    width : 50px;
    margin-left : 10px;
    cursor : pointer;
  
  
  }
  .price{
    font-weight : bold;
    font-size: 20px;
    color : rgb(0,118,0);
    margin-top : 15px;
  }
  .delivery{
    font-weight : bold;
    font-size : 20px;
    margin-top : 5px;
    margin-bottom : 20px;
  }
  .cart{
    background-color : rgb(255, 216, 20);
    border : none;
    height : 40px;
    width : 150px;
    border-radius : 20px;
    cursor : pointer;
    font-size : 16px;
    font-weight : bold;
    margin-right : 10px;

  }
  .buy{
    background-color : rgb(255, 164, 28);
    border : none;
    height : 40px;
    width : 150px;
    border-radius : 20px;
    cursor : pointer;
    font-size : 16px;
    font-weight : bold;

  }

</style>
<u class="start">
  Back to Amazon

</u>

<p class="description">
  Nike G.T. Jump Academy EP Basketball Shoes

</p>

<div style="text-align: center;">
  <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcTuBqzU0tokYqqUS5vBF5p_nrB88Bnta7WdscBUGABbDP0s6dYH8_HpgnFQhYoczK28q3R-WOso0se9pXWh1LIKg8M2d7VJWgEX_hVA3vRd8t2labPSWOH3Heg"
       alt="Nike G.T. Jump Academy EP Basketball Shoes" 
       style="margin:80px 0 160px 0; width:300px; height:autopx;">
</div>

<button class =" size">
  Select a Size
</button>


<button class="seven">
  7
</button>

<button class="eight">
  8
</button>

<button class="nine">
  9
</button>

<button class="ten">
  10  
</button>

<button class="eleven">
  11
</button>




<p class="price">
  Price:$19.99(-in stock)
</p>

<p class="delivery">
  Free delivery tomorrow.
</p>

<button class="cart">
  Add to Cart 
</button>

<button class="buy">
  Buy Now
</button>